
@{
    ViewData["Title"] = "Home Page";
}


<!doctype html>
<html lang="en">
<head>

</head>
  <body>
  <div>
      <h1 class="text-center mt-5">Welcome User @ViewBag.User / @ViewBag.saveCookie</h1>
  </div>
  
  @if (User.IsInRole("Admin"))
  {
      @section button
      {
          <a class="btn btn-sm btn-dark mx-2" asp-controller="Create" asp-action="Index">Sign up</a>
      }   
  }
  
  <div class="container-table d-flex gap-2">
      <table class="table table-striped table-bordered table-hover text-center">
          <thead class="table table-dark">
          <tr>
              <td>Entry hour</td>
          </tr>
          </thead>
          <tbody>
          @foreach (var e in Model)
          {
              if (@e.EntryDate != null)
              {
                  <tr>
                      <td>@e.EntryDate</td>
                  </tr>
              }
             
          }
          </tbody>
      </table>
      
      <table class="table table-striped table-bordered table-hover text-center">
          <thead class="table table-dark">
          <tr>
              <td>Departure hour</td>    
          </tr>
          </thead>
          <tbody>
          @foreach (var e in Model)
          {
              if (@e.OutDate != null)
                {
                    <tr>
                        <td>@e.OutDate</td>
                    </tr>
                }
              
          }
          </tbody>
      </table>
      
      
  </div>
  


  <div class="area"></div>
        <nav class="main-menu nav">
            
                @if (User.IsInRole("Admin"))
                {
                    <ul>
                        <li class="mt-5">
                            <a asp-controller="Employees" asp-action="Index">
                                <i class="fa fa-home fa-2x"></i>
                                <span class="nav-text">
                                    Employee Details
                                </span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Create" asp-action="Index">
                                <img class="mx-2  w-75 h-75" src="~/images/Account.png" alt="Icono">
                                <span class="nav-text">
                                    Create Account
                                </span>
                            </a>
                        </li>
                    </ul>
                }
                @if (User.IsInRole("Employee"))
                {
                    <ul>
                        <li class="mt-5">
                            <a asp-controller="Employees" asp-action="Index">
                                <i class="fa fa-home fa-2x"></i>
                                <span class="nav-text">
                                    Employee Details
                                </span>
                            </a>
                        </li> 
                    </ul>
                }
                

            <ul class="logout">
                <li>
                   <a asp-controller="Login" asp-action="Logout">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>

        
  </body>
</html>